{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Categories | {{ cats }}</h1>

{% for post in category_posts %}
<div class="col-12 left">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                             alt="placeholder image">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}"
                             alt="{{ post.title }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                    <hr>
                    <a href="{% url 'category' post.category %}" class="post-link">
                        <h2 class="card-title">{{ post.category }}></h2>
                    </a>
                    <hr>
                    <p class="card-text text-muted h6">{{ post.created_on}} <i class="fas fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                    </p>
                </div>
            </div>
        </div>
{% endfor %}

{% endblock %}