{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container text-center">
    <h1 class="section-title" id="auth">404 Error</h1>
    <h3>Dang. We´ve traveled the globe, and can´t find that page anywhere</h3>
    <hr>
    <p class="section-p">(Maybe it took a sweet assignment somewhere.) 
        So let´s get´s you back on trach quickly</p>
    <div class="text-center">
        <button class="btn btn-error"><a id=error 
            href="{% url 'home' %}">Go Back to Home <i class="fa fa-stethoscope"></i></a></button>
    </div>
</div>

{% endblock %}