{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row no-gutters">
        <div class="col-12 about-us-picture"></div>
        <div class="col-sm-11 offset-sm-1 mt-48">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-7 offset-md-2 mt-48">
            <h2 class="mb-8">Our history</h2>
            <p class="mb-0">In the early 1990s, Australia and New Zealand had an urgent need for doctors. A need we were born to fill in the form of an unprecedented business. Since then, we’ve successfully matched thousands of doctors with clients around the world.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-7 offset-md-2 mt-48">
            <h2 class="mb-8">Our position</h2>
            <p class="mb-0">Today, we place doctors in New Zealand, Australia, Guam, the Caribbean, Canada, China, and of course, the US. Historically, we’ve had doctors in Singapore and the United Arab Emirates — and we regularly expand into new countries. This worldwide reach means that if a location is placeable, we’re probably there. And it makes us unique among locum tenens agencies.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-7 offset-md-2 mt-48">
            <h2 class="mb-8">Our advantage(s)</h2>
            <p>Our reach is global. But our service is personal. And our size allows us to move with both the speed and attention to detail our doctors and clients deserve.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-7 offset-md-2 mt-48">
            <h2 class="mb-8">Our purpose</h2>
            <p class="mb-0">Thanks to the opportunities and support we provide, doctors can experience the world and practice medicine in ways that benefit themselves and their patients. And through the Making a Difference Funding Programm, we give physicians additional opportunities to help where it’s needed most — in the U.S. and abroad.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-2 mt-48">
           <div class="making-a-difference">

           </div>
        </div>
        <div class="col-md-6 ml-0 ml-md-8 ml-lg-0 mt-48">
            <div class="btn-con">
                <a class="btn outline sunshine-border sunshine my-4" href="https://anjorinllc.com/" class="post-link">
                    HOW WE MAKE A DIFFERENCE<div class="btn-arrow">
</div>                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-7 offset-md-2 mt-48">
            <h2 class="mb-16">Our doctors</h2>
            <p class="mb-0">Exceptional physicians are a huge part of who we are. And they tend to be a different breed. Many have worked in underserved populations, seek out unique or challenging assignments, and, in general, are more flexible and adaptable.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-7 offset-md-2 mt-48 mb-8">
            <div>
                <hr>
                <p class="text-center my-0" style="font-style: italic;">"International locum tenens is oftentimes a once-in-a-lifetime chance. 
                    Try to make it work for you, because it's a really great experience. And you get help from your agency for it too."</p>
                <hr>
                <span class="thirsty quoter px-4 body-grey-background">Dr. Mike Spertus; Perth, Australia</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-md-2 mt-48">
            <h2 class="forza dark-grey mb-16">Where you’ll find us</h2>
            <div class="row mt-16">
                <div class="col-md-6 col-lg-5">
                   <div class="g-map">
                        <a target="_blank" href="https://www.google.com/maps/place/CHG+Healthcare/@40.6193895,-111.9167723,17z/data=!4m12!1m6!3m5!1s0x87528904e59bf3bd:0xa294fd2a32771787!2sCHG+Healthcare!8m2!3d40.6195627!4d-111.9144949!3m4!1s0x87528904e59bf3bd:0xa294fd2a32771787!8m2!3d40.6195627!4d-111.9144949" class="link-cover"></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="ml-0 ml-md-8 ml-lg-0 mt-24 mt-md-0">
                        <label class="d-block" for="">Location</label>
                        <a class="water d-block mb-24" href="https://www.google.com/maps/place/CHG+Healthcare/@40.6193895,-111.9167723,17z/data=!4m12!1m6!3m5!1s0x87528904e59bf3bd:0xa294fd2a32771787!2sCHG+Healthcare!8m2!3d40.6195627!4d-111.9144949!3m4!1s0x87528904e59bf3bd:0xa294fd2a32771787!8m2!3d40.6195627!4d-111.9144949">7259 Bingham Jct Blvd.,<br>Midvale , UT 84047</a>
                        <label class="d-block" for="">Methods</label>
                        <a class="water d-block mb-24" href="tel:1.800.760.3174">Call toll-free from the U.S. &amp; Canada for international placement: 1.800.760.3174</a>
                        <a class="water d-block mb-24" href="tel:1.866.858.6269">For U.S. placement: 1.866.858.6269</a>
                        <a class="water d-block mb-24" href="tel:801.365.0303">Local phone: 801.365.0303</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}