{% load crispy_forms_tags %}
<div class="form-container">
    <h2 class="text-center">Nex<span>t</span> s<span>t</span>ep:</h2>
    <p class="text-center">Fill out this form to<br>apply for this job.</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
                Submit <i class="fa fa-stethoscope"></i>
            </button>
        </div>
    </form>
</div>
<h3 class="text-center">Or give us a call at 
    <a class="text-center h3 m-auto" href="#">0800.608.1407</a>
</h3>