{% extends "base.html" %}
{% load static %}
{% block title %}{{job.title}}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <!-- Job Details Column -->
        <div class="col-lg-8 col-md-7 job-detail">
            <h1>{{ job.title }}</h1>
            <div class="stars mb-2 mt-3">
                <span>
                {% for i in star_range %}
                    {% if i <= job.stars %}
                        <i class="fas fa-star"></i> <!-- Filled star -->
                    {% elif half_star and i == job.stars|add:"1" %}
                        <i class="fas fa-star-half-alt"></i> <!-- Half star -->
                    {% else %}
                        <i class="far fa-star"></i> <!-- Unfilled star -->
                    {% endif %}
                {% endfor %}
                </span>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 quick-fact">
                    <label>Date Posted:</label>
                    <span>{{ job.created_on }}</span><br>
                    <label> Start Date:</label>
                    <span>{{ job.start_date }}</span><br>
                    <label> End Date:</label>
                    <span>{{ job.end_date }}</span><br>
                </div>
                <div class="col-md-4 col-12 quick-fact">
                    <label>Medical Specialty:</label>
                    <span>{{ job.speciality }}</span><br>
                </div>
                <div class="col-md-4 col-12 quick-fact">
                    <label>Location:</label>
                    <span>{{ job.location }}</span><br>
                </div>
            </div>

            <br>
            <h4>Job Quick Facts</h4>
            <div>{{ job.description|safe }}</div>
            <br>
            <h4>Application Steps</h4>
            <div>
                <p>When you’re ready to expand your personal and professional horizons, <br>pick up the phone and call us.</p>
            </div>

            <br>
            <h4>Our Benefits</h4>
            <ul class="benefits-list">
                <li>Competitive compensation</li>
                <li>Pre-paid travel and housing</li>
                <li>Paid AAA-rated claims made malpractice</li>
                <li>Licensing assistance and cost reimbursement</li>
                <li>Member of NALTO</li>
            </ul>
        </div>

        <!-- Form Column -->
        <div class="col-lg-4 col-md-5 d-none d-md-block pl-5 form-column">
            {% if request.user.is_authenticated %}
                {% if request.user.profile.user_type != 'employer' %}
               <!-- Show the job application form -->
                    {% include "jobs/application_form.html" %}
                {% else %}
                    <p class="ALERT">Employers cannot apply for this job.</p>
                {% endif %}
            {% else %}
                {% include "jobs/application_form.html" %}
            {% endif %}
        </div>
    </div>       
</div>   
{% endblock %}
