{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <h2>Thank you for applying for {{ job.title }}</h2>
    <p>Your application has been sent successfully for review.</p>
    <p>If you could, please take a moment to rate this job:</p>
    
    <form method="post">
        {% csrf_token %}
        {{ rating_form|crispy }}
    
        <button id="submitButton" type="submit"class="btn btn-signup btn-lg">Submit <i class="fa fa-stethoscope"></i></button>
        
    </form>
    <hr>
    <p> If not you can use the navbar to navigate to where you want.</p>
    <p> Or press the button below to return to the joblist.</p>
    <button class="btn btn-signup btn-lg"><a id=error href="{% url 'speciality_jobs' job.speciality.name %}">Return 
    <i class="fa fa-stethoscope"></i></a></button>
</div>
{% endblock %}
