{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-12 left">
    <h2>Speciality | {{speclist.spec}}</h2>
    <div class="row">
        {% for job in speclist.jobs %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'job_detail' job.id %}" class="job-link">
                        <h2 class="card-title">{{ job.title }}</h2>
                    </a>
                    <hr>
                    <div class="stars">
                        <span>
                        {% for i in star_range %}
                            {% if i <= job.stars %}
                                <i class="fas fa-star"></i> <!-- Filled star -->
                            {% elif half_star and i == job.stars|add:"1" %}
                                <i class="fas fa-star-half-alt"></i> <!-- Half star -->
                            {% else %}
                                <i class="far fa-star"></i> <!-- Unfilled star -->
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                    <hr>
                    <p class="card-text text-muted h6">{{ job.created_on}} | {{ job.location}}</p>
                
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>
<div>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}